@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  
} */

body {
  margin: 0;
  font-family: 'Inter', system-ui, 'Avenir', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Assuming you are using Tailwind CSS */
  @apply bg-slate-100;
}

code {
  font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}
